html {
  font-size: 14px;
}


body {
  background-color: #feede8;
  color: #34568f;
  font-family: "Fira Mono", monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header, footer {
  width: 100%;
}


header {
  background-color: #f5babe;
  padding: 18px 0;
  border-bottom: 2px dashed #d55984; /*dashed border cause it's cute*/
}

/*the links in the header*/
.header-menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*links in header*/
.header-menu li a {
  color: #34568f;
  font-family: "Libertinus Mono", monospace;
  font-weight: bold;
  text-decoration: none; /*no underline*/
}

.header-menu li a:hover {
  color: #d55984;
  text-decoration: underline; /*bring underline back upon hover*/
}

.header-menu li a:active {
  /*selected link*/
  color: blue;
  text-decoration: underline;
}

h1 {
  font-family: "Jost", sans-serif;
  font-size: 2.0rem;
  margin: 10px 0;
}

h2 {
  font-family: "Jost", sans-serif;
  margin: 10px 0;
  color: #d55984;
  font-style: italic;
  font-size: 1.55rem;
}

h3 {
  font-family: "Jost", sans-serif;
  margin: 10px 0;
  font-size: 1.10rem;
}

h4 {
  font-family: "Jost", sans-serif;
  margin: 10px 0;
}

p {
  font-size: 1rem;
}

/*formatting for the bio part*/
.bio {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

/*paras*/
.intro-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

/*image and aside*/
.intro-side {
  display: flex;
  flex-direction: row; /*image and aside side by side*/
  align-items: center;
  gap: 20px;
  width: 100%; /*let the elements stretch to 100*/
}

.cat-img {
  width: 150px;
  height: auto;
  border-radius: 12px;
  flex-shrink: 0; /* prevent it from shrinking */
}

/*interested in part*/
.represent-me {
  display: flex;
  flex-direction: column;
  align-items: center; /* center items horizontally */
  text-align: center; /* center the text itself */
  flex-grow: 1; /*let it grow to fit*/
  background-color: #f5babe;
  padding: 15px;
  margin: 25px 0;
  border-radius: 10px;
}

.represent-me h4 {
  font-size: 16px;
  margin-bottom: 4px;
}

/*links inside the aside*/
.links-list {
  list-style: square;
  padding: 0;
  margin: 0;
}

.links-list li {
  margin: 6px 0;
}

.links-list a {
  font-style: italic;
  text-decoration: none;
  color: #34568f;
}

.links-list a:hover {
  text-decoration: underline;
  color: #d55984;
}

.darkpink-text {
  display: inline;
  color: #d55984;
  font-weight: bold;
}

/*image in coding journey section*/
.text-with-cplusplus {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 0px;
}

.cplusplus-img {
  width: 80px;
  height: auto;
  margin-top: 8px;
  margin-right: 30px;
}

/*fun facts section*/
.fun-facts-aside {
  border-color: #d55984;
  background-color: #feede8;
  padding: 20px;
  margin: 30px 0;
  border-width: 3px;
  border-style: dashed;
  border-radius: 16px;
}

.fun-facts-header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;*/
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
}

.fun-facts-header h3 {
  margin: 0;
  font-size: 22px;
  color: #34568f;
}

.fact-btn {
  background-color: #feede8;
  border-color: #d55984;
  border-radius: 5px;
  border-style: dashed;
  padding: 12px 10px;
  color: #d55984;
  font-family: "Fira Mono", monospace;
  font-size: 13px;
  cursor: pointer;
  margin-top: 3px;
}

.fact-btn:hover {
  background-color: #f5babe;
  color: #feede8;
  border-color: #f5babe;
}

.fun-facts-body {
  display: flex;
  gap: 18px;
  align-items: flex-start;
  margin-top: 15px;
}

.heart-img {
  width: 105px;
  height: auto;
  flex-shrink: 0;
  margin-top: 0;
}

.fun-fact-text {
  font-style: italic;
  color: #d55984;
  margin-top: 26px;
  font-size: 16px;
  line-height: 1.5;
}

footer {
  background-color: #f5babe;
  color: #34568f;
  text-align: center;
  padding: 15px;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  margin-top: 40px;
  border-top: 2px dashed #d55984;
}

footer a {
  color: #34568f;
  text-decoration: underline;
}
footer a:hover {
  color: #d55984;
}

/*newer stuff for sveltified*/
.bio {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  text-align: left; /* Force left align */
}

.bio p {
  text-align: left;
}

.intro-content {
  text-align: left;
}

.text {
  text-align: left;
}
